version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: foodpass-app
    restart: always
    ports:
      - "3001:3000"
    environment:
      - DATABASE_URL=postgresql://postgres:password123@db:5432/foodpass_db?schema=public
      - NEXT_PUBLIC_API_URL=/api
    depends_on:
      - db

  db:
    image: postgres:15-alpine
    container_name: foodpass-db
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password123
      POSTGRES_DB: foodpass_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
